/* general */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* utilities */

header{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.second{
    width: 100%;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 25px;
}

.divided{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix::after{
    clear: both;
    content: " ";
    display: table;
}

footer{
   width: 100%;
   margin-bottom: 50px;
   text-align: center;
   font-size: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-top: 50px;
}

/* floated */

#upper{
    width: 100%;
    margin-bottom: 10px;
}

#sideone{
    width: calc(25% - 20px);
    display: inline-block;
    
    
}

#central{
    width: 50%;
    height: 225px;
    background-image: url(../img/banner-2.jpg);
    display: inline-block;
    margin-left: 20px;
    position: relative;
    background-position: 50% 40%;
    border-radius: 10px;
    
}

#sidetwo{
    width: calc(25% - 20px);
    height: 225px;
    background-image: url(../img/img-3.jpg);
    display: inline-block;
    position: relative;
    background-position: 50% 40%;
    border-radius: 10px;
}

#sideone, #sidetwo, #central{
    margin-top: 10px;
}

li{
    display: inline;
    font-size: 18px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

#logo{
    height: 60px;
}

ul{
    margin-top: 10px;
}

a{
    color: grey;
    text-decoration: none;
    margin-right: 14px;
}

#banner{
    background-image: url(../img/banner.jpg);
    height: 500px;
    background-position: 0 -100px;
    border-radius: 25px;
    position:relative;
    
}


#principale{
    font-size: 30px;
    position: absolute;
    left:40px;
    bottom: 110px;
}
#description{
    font-size: 16px;
    position: absolute;
    left:40px;
    bottom: 40px;
}

#principale, #description{
    width: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}

.text{
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    opacity: 35%;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#sub{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

#tree{
    height: 225px;
    border-radius: 10px;
}
.bgl{
    height: 225px;
    width: 23%;
    background-color: black;
    border-radius: 10px;
    opacity: 35%;
    position: absolute;
}

.title{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desc{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}


.bgc{
    background-color: black;
    opacity: 35%;
    position:relative;
    width: 100%;
    height: 225px;
    border-radius: 10px;
}

.bgr{
    height: 225px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    opacity: 35%;
    position: absolute;
    right: 0;
}

#pre{
    margin-top: 225px;
}

span{
    color: red;
}
